html {
  background-color: #FFFFFF;
  font-size: 1rem;
}
/* body, #app, #main {
  overflow: hidden;
} */
body #splash {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  transition: 1s;
}
#app {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#app main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* #app main .cw {
  width: 100%;
  height: calc(100% - 92px);
}

#app main .cw.ip {
  height: calc(100% - 100px);
}
#app main .cwh {
  width: 100%;
  height: calc(100% - 50px);
}

#app main .cwf {
  width: 100%;
  height: 100%;
} */

#app main .divider {
  margin: 0 10px;
  height: 22px;
  width: 2px;
  background: #dcdde1;
  color: #1D4ED8;
}

/* Back button */

.back-btn-wrap {
  height: 34px;
  background-color: #e2e6e9;
  border-radius: 6px;
  padding: 2px;
  display: inline-block;
}

button.back-btn {
  height: 100%;
  padding: 0 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #778beb;
}

button.back-btn:hover {
  background-color: #f0f2f3;
}

button.back-btn:active {
  transform: translateY(1px);
}

button.back-btn span.btn-text {
  display: inline-block;
  position: relative;
  bottom: 1px;
  margin-left: 2px;
  line-height: 1;
}
button.back-btn i {
  color: #526ae5;
}