html[theme="dark"] .pi {
  color: #a8a8a8;
}
html[theme="dark"] .p-skeleton {
  background-color: #e9ecef1f;
}
html[theme="dark"] .p-inputtextarea::placeholder,
html[theme="dark"] .p-inputtext::placeholder {
  color: #4b4a4a;
}
html[theme="dark"] .p-inputtext,
html[theme="dark"] .p-dropdown, .p-multiselect-panel,
html[theme="dark"] .p-dropdown {
  border-color: #565656;
  color: #F5F5F5;
}

html[theme="dark"] #df.dynamic-form,
html[theme="dark"] #df.dynamic-form .f-body,
html[theme="dark"] #df.dynamic-form .f-body .ctx {
  background-color: #1e2023;
  border-radius: 12px;
}

html[theme="dark"] #df.dynamic-form .f-body .ctx .f-row .f-name {
  color: #a6a6a6;
}

html[theme="dark"] #df.dynamic-form .f-body .ctx .p-component {
  background-color: #141417;
}

html[theme="dark"] #df.dynamic-form .f-body .ctx .actions button.remove {
  background-color: #1e2023;
}


html[theme="dark"] .p-checkbox .p-checkbox-box,
html[theme="dark"] .p-multiselect-panel .p-multiselect-header {
  background-color: #1e2023;
  border-color: #575656;
}

html[theme="dark"] .p-dropdown-panel,
html[theme="dark"] .p-multiselect-panel,
html[theme="dark"] .p-menu {
  background-color: #141417 !important;
}

html[theme="dark"] .p-multiselect,
html[theme="dark"] .p-menu.p-menu-overlay {
  border-color: #565656;
}

html[theme="dark"] .p-menu .p-menuitem-link .p-menuitem-icon,
html[theme="dark"] .p-menu .p-menuitem-link .p-menuitem-text {
  color: #a8a8a8;
}

html[theme="dark"] .p-menu .p-menuitem-link .p-menuitem-text {
  color: #a8a8a8;
}

html[theme="dark"] .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover,
html[theme="dark"] .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
  background-color: rgba(153, 128, 250, 0.05);
  color: #a8a8a8;
}

html[theme="dark"] .p-multiselect-panel .p-multiselect-items .p-multiselect-item,
html[theme="dark"] .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #a8a8a8;
}

html[theme="dark"] .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
html[theme="dark"] .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background-color: rgba(153, 128, 250, 0.2);
  color: #F5F5F5;
}

html[theme="dark"] .p-menu .p-menuitem-link:not(.p-disabled):hover {
  background-color: rgba(153, 128, 250, 0.1);
  color: #F5F5F5;
}

/* -------------- Form end --------------- */




/* ----- Back button ----- */
html[theme="dark"] #form .rows-wrapper .row .btn-wrapper,
html[theme="dark"] .back-btn-wrap {
  background-color: #030303 !important;

}
html[theme="dark"] #form .rows-wrapper .row .btn-wrapper button.add-item,
/* html[theme="dark"] .page-toolbar a.prev, */
html[theme="dark"] .back-btn-wrap .back-btn {
  background-color: #16181a !important;
  color: #eeeeee !important;
}
html[theme="dark"] .back-btn-wrap .back-btn .pi {
  color: #526ae5;
}
html[theme="dark"] .calendar-dates-header .header-btn-wrapper button.arrow {
  border: 1px solid #030303;
  background-color: #16181a;
}
/* ------------- */

/* ------ Header ------ */

html[theme="dark"] header#app_header {
  background-color: #141417;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.35);
}

/* html[theme="dark"] header#app_header #logo {
  background-color: #ffffff;
} */

html[theme="dark"] header#app_header svg .text path{
  fill: #A4B0BE;
}

/* ----- Footer ------ */
/* html[theme="dark"] footer {
  box-shadow: 0px -5px 10px 3px rgba(255,255,255,0.15);
} */
html[theme="dark"] footer#app_footer {
  background-color: #141417;
  color: #A4B0BE;
}
html[theme="dark"] footer#app_footer .inner-footer section:not(:first-of-type){
  border-top: solid 1px #A4B0BE;
}

html[theme="dark"] footer#app_footer .corporation-link,
html[theme="dark"] footer#app_footer .copyright{
  background-color: #141417;
  color: #A4B0BE;
}

html[theme="dark"] footer#app_footer .corporation-link a {
  background-color: #f5f5f7;
  display: inline-block;
  border-radius: 10px;
}

html[theme="dark"] footer#app_footer .corporation-link .corporation-logo{
  display: none;
}

/* html[theme="dark"] footer svg .text path{
  fill: #A4B0BE;
} */
html[theme="dark"] footer#app_footer .legal-links a{
  color: #A4B0BE;
}

/* ------ Page content ------ */
html[theme="dark"] .template__Wrapper {
  background-color: #1e2023;
  color: #A4B0BE;
  transition: background-color 0.15s;
}
html[theme="dark"] .template__Wrapper .container {
  background-color: transparent;
}

html[theme="dark"] .template__Wrapper .container section{
  color: #A4B0BE;
}

html[theme="dark"] .template__Wrapper .container li span{
  color: #A4B0BE;
}

/* ------ Room ------ */
html[theme="dark"] #index {
  background-color: #1e2023;
}

html[theme="dark"] #index .header-container h1.heading {
  color: #ccd3db;
}
html[theme="dark"] #index .calendar-dates-header .header-date.addafter::after {
  background-color: #2f3542;
}

html[theme="dark"] #index .sec .btn_select:hover{
  background-color: #16181ad1;
}
/* html[theme="dark"] #index .sec .btn_select:hover figure.circle svg{
  fill: #fff;
} */

html[theme="dark"] #index .sec .btn_select:not(.disable):hover{
  color: #2ecc71; /*rgb(208, 85, 68);*/
  border-color: #2ecc71; /*rgb(208, 85, 68);*/
  /* background-color: #f8f8f6; */
}

html[theme="dark"] #index .header-container p.room-body-summary {
  background-color: #4141416f
}
html[theme="dark"] #index .sec figure.cross svg{
  stroke: #2f3542 !important;
  fill: #A4b0be;
}
html[theme="dark"] #index .header-subtext{
  background-color: #1e2023;
}

html[theme="dark"] #index .selected-week-wrapper{
  background-color: #030303;
}
/* html[theme="dark"] #index .selected-week-wrapper .arrow{
  background-color: #16181a;
}
html[theme="dark"] #index .selected-week-wrapper .arrow i {
  color: #a8a8a8;
} */

html[theme="dark"] #index .selected-week-wrapper span.week-text{
  color: #A4B0BE;
}

html[theme="dark"] #index .week-cell__contents .time{
  font-weight: 400;
}
/* Holiday */
html[theme="dark"] #index .calendar-outer .week-cell__contents .sec.holiday {
  background-color: #cad3c833;
  color: #ced6e0;
}


/* -----  Room cell border color ----- */
html[theme="dark"] #index .weekday-wrapper,
html[theme="dark"] #index .calendar-outer .week-cell__contents .sec,
html[theme="dark"] #index .calendar-outer .weekday-wrapper.first .week-cell__contents .sec,
html[theme="dark"] #index .calendar-outer .times-wrapper .times-cells .time-cell {
  border-color: #2f3542;
}
html[theme="dark"] #index .calendar-outer .times-wrapper .times-cells .time-cell::after{
  background-color: #1e2023;
}

html[theme="dark"] #index .calendar-outer .times-wrapper .times-cells p.sp-time {
  color: #b6b6b6;
}

/* Room end */

/* ----- Form page ----- */
html[theme="dark"] #request header .back-calendar {
  border-color: #030303;
  background-color: #16181a;
}
html[theme="dark"] #request header .back-calendar span {
  color: #eee;
}
html[theme="dark"] .calendar-wrapper .sp-buttons .selected-week-wrapper .arrow {
  background-color: #16181a;
  color: #eee !important;
}

@media screen and (max-width: 767px){
  html[theme="dark"] #index .icon-list {
    background-color: #6366f10d;
  }
}