.p-inputtext, .p-multiselect, .p-dropdown {
  font-size: .8rem;
  color: #495057;
  background: rgba(241, 242, 246, 0.4);
  padding: 0 0 0 8px;
  border: 1px solid #ced4da;
  width: 100%;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  appearance: none;
  height: 41px;
  border-radius: 0;
}
.p-inputtextarea {
  padding: 8px;
  height: 100px;
}
.p-inputtext::placeholder {
  color: #b2bec3;
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: #6c5ce7;
}

.p-multiselect-panel .p-multiselect-header {
  padding: 5px 4px 5px 8px;
}
.p-dropdown.p-invalid,
.p-inputtext.p-invalid,
.p-multiselect.p-invalid{
  background-color: rgba(237, 76, 103, 0.1);
}
.p-dropdown,
.p-multiselect-panel {
  border: 1px solid #ced4da;
}
.p-dropdown .p-dropdown-label,
.p-multiselect .p-multiselect-label {
  padding: 0;
  height: 100%;
  align-items: center;
  display: flex;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  font-size: .75rem;
  padding-left: 8px;
  border: 0 none;
  color: #212529;
  background: transparent;
  transition: box-shadow 0.15s;
  border-radius: 0;
}

/* #df.dynamic-form {

} */

#df.dynamic-form .f-body {
  /* padding: 8px 24px 24px 24px; */
  min-height: 248px;
}

/* placeholder
==============*/
#df.dynamic-form .f-body .placeholder {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  width: calc(100% - 48px);
}

#df.dynamic-form .f-body .placeholder .p-skeleton {
  margin-bottom: 10px;
}

/* rows
==============*/
#df.dynamic-form .f-body .ctx {
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

#df.dynamic-form .f-body .ctx .f-row .f-name {
  margin-bottom: 6px;
  padding-left: 2px;
  font-size: .85rem;
}
#df.dynamic-form .f-body .ctx .f-row .f-hint,
#df.dynamic-form .f-body .ctx .f-row .f-error {
  display: block;
  height: 16px;
  font-size: .6rem;
  padding-left: 2px;
  margin-top: 4px;
}
#df.dynamic-form .f-body .ctx .f-row .f-hint {
  color: #8395a7;
}
#df.dynamic-form .f-body .ctx .f-row .f-r-column.f-warning .f-hint {
  color: #f0932b;
}
#df.dynamic-form .f-body .ctx .f-row .f-error {
  color: #ED4C67;
}

#df.dynamic-form .f-body .ctx .f-row .f-name .required {
  margin-left: 4px;
  margin-top: 1px;
  color: #ED4C67;
  font-size: .6rem;
  display: block;
}


/* server side errors */
#df.dynamic-form .f-body .ctx .ss-errors {
  background-color: rgba(237, 76, 103, 0.1);
  width: 100%;
  padding: 10px;
  font-size: .7rem;
  color: red;
}
#df.dynamic-form .f-body .ctx .ss-errors li.sse {
  margin-bottom: 5px;
}
#df.dynamic-form .f-body .ctx .ss-errors li.sse:last-child {
  margin-bottom: 0;
}

/* actions
=============*/
#df.dynamic-form .f-body .ctx .actions {
  margin-top: 24px;
  width: 100%;
}
#df.dynamic-form .f-body .ctx .actions button.remove {
  background-color: #FFFFFF;
  color: #ED4C67;
  width: 110px;
  font-size: 1rem;
  height: 40px;
}
#df.dynamic-form .f-body .ctx .actions button.submit {
  height: 44px;
  font-size: 1rem;
  margin-left: 14px;
  border-radius: 10px;
  width: 110px;
  color: #f5f6fa;
  background: radial-gradient(circle, rgba(102, 105, 242, 1) 75%, rgba(88, 91, 210, 1) 100%);
  transition: .3s;
}
#df.dynamic-form .f-body .ctx .actions button.submit:active {
  transform: translateY(2px);
}