@charset "UTF-8";

/*--------------------------------
reset
--------------------------------*/
html,body,div,p,img,iframe,a,span,blockquote,q,address,cite,
pre,code,em,small,strong,b,i,
header,article,section,nav,figure,figcaption,hgroup,menu,aside,footer,time,
h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,
table,tbody,thead,tfoot,th,tr,td,
form,fieldset,legend,label,select,input,textarea,button{
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}
header,article,section,nav,figure,figcaption,hgroup,menu,aside,footer{
    display: block;
}
ul li{
    list-style-type: none;
}
/* h1,h2,h3,h4,h5,h6{
    font-weight: 500;
} */
body{
    line-height: 1;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    line-height: 1.5;
}
img{
    vertical-align: middle;
    width: 100%;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
select,option,input,textarea,button{
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
input[type=radio]{
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}
input[type=checkbox]{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
blockquote::before,blockquote::after,q::before,q::after{
    content: '';
    content: none;
}
[type=submit],[type=button],[type=reset],[type=file],button{
    cursor: pointer;
}
:focus{
    outline: none;
}

/*--------------------------------
common
--------------------------------*/
html{
    font-size: 0.625rem;
    overflow-x: hidden;
}
body{
    font-family: 'Avenir Next','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo','メイリオ',sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #555;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.align-center {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-wrap{
    -webkit-flex-wrap: wrap;          /* Safari etc. */
    -ms-flex-wrap    : wrap;          /* IE10        */
    flex-wrap        : wrap;
}

.container{
    max-width: 960px;
    margin: auto;
}
@media screen and (max-width: 900px) {
    .container{
        padding-top: 80px;
    }
}
@media screen and (max-width: 767px) {
    .container{
        padding-top: 50px;
        padding: 20px 10px;
    }
}

.for-pc {
    display: block ;
}
.for-sp {
    display: none ;
}
@media screen and (max-width: 767px) {
    .for-pc {
        display: none ;
    }
    .for-sp {
        display: block ;
    }
}

.h3 {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    line-height: 1.5;
}
.p1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    line-height: 1.3;
}
.p1 span {
    display: inline-block;
}
@media screen and (max-width: 767px) {
    .h3 {
        font-size: 1.6rem;
        letter-spacing: 0;
    }
    .p1 {
        font-size: 1.6rem;
    }
}



.header {
    padding: 3% 3% 1%;
    border-bottom: 3px solid #0052ad;
}
.header-logo {
    max-width: 140px;
}

main {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
}

.template__Wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 0;
}


.template__Wrapper .container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px 60px;
}
@media screen and (max-width: 767px) {
    .template__Wrapper .container {
        padding: 20px 10px;
    }
}

.template__Wrapper .h2 {
    font-size: 24px;
    /* color: #00adef; */
    color: rgb(99, 102, 241);
    letter-spacing: .1rem;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #dadada;
}

.menu__Wrapper {
    margin: 20px auto 20px;
    border-bottom: 2px solid #dadada;
}

.menu__Wrapper .h3 {
    text-align: center;
    margin-bottom: 10px;
}
.menu__Wrapper .p1 {
    text-align: center;
}
.menu__Wrapper .menu__contents {
    padding-bottom: 10px;
}
.menu__Wrapper .menu__contents .list-item {
    display: block;
}

.footer {
    margin-bottom: 30px;
}

.footer .upper{
    width: 100%;
    padding: 30px 0;
    background: rgb(0,82,173);
    background: linear-gradient(90deg, rgba(0,82,173,1) 0%, rgba(29,153,185,1) 22%, rgba(0,82,173,1) 100%);
}
@media screen and (max-width: 767px)  {
    .footer .upper{
        padding: 15px 0;
    }
    .footer .upper .flex{
        display: block;
    }
}
.footer p{
    color: #fff;
}
.footer a{
    color: #fff;
}
.footer .footer-link li {
    margin-left: 20px;
}
@media screen and (max-width: 767px) {
    .footer .footer-link {
        margin-top: 20px;
    }
    .footer .footer-link li {
        margin-left: 0px;
    }
}
.footer .lower .ul {
    max-width: 670px;
    margin: 20px auto;
}
@media screen and (max-width: 767px) {
    .footer .lower .ul {
        display: block;
        margin: 0px auto;
    }
}
.footer .lower li {
    margin: 10px 15px;
}
@media screen and (max-width: 767px) {
    .footer .lower li:nth-of-type(2) img {
        width: 77%;
    }
}
.footer .copy {
    font-size: 1rem;
    color: #555;
    text-align: center;
}


.footer-hide {
    display: none;
}
.footer-hide.active {
    display: block;
}









/*--------------------------------
index
--------------------------------*/

#index #overlay {
    display: none;
}
#index #overlay.active {
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
}

/* #index .template__Wrapper {
    display: none;
}
#index .template__Wrapper.active {
    display: block;
} */


#index .calendar__header {
    margin-bottom: 10px;
}
#index .calendar__header .title {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    line-height: 1.5;
}
@media screen and (max-width: 767px) {
    #index .calendar__header .title {
        font-size: 1.2rem;
        font-weight: normal;
    }
}

#index .calendar__header .icon__Wrapper {
    width: 36px;
    /* height: 18px; */
    margin: 0px 5px 0;
    padding: 0px;
    background: rgb(231,231,231);
    background: linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(236,236,236,1) 22%, rgba(255,255,255,1) 100%);
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 0px rgb(200 200 200);
    -webkit-box-shadow: 1px 1px 2px 0px rgb(200 200 200);
    -moz-box-shadow: 1px 1px 2px 0px rgb(200 200 200);
}
#index .calendar__header .icon__Wrapper .icon {
    width: 12px;
    /* height: 20px; */
}
@media screen and (max-width: 767px) {
    #index .calendar__header .icon__Wrapper .icon {
        /* height: 14px; */
    }
    #index .calendar__header {
        display: block;
    }
    #index .calendar__header h3 {
        text-align: center;
    }
    #index .calendar__header .week {
        margin: 20px auto 15px;
    }
}
#index .calendar__header .arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #c7c7c7;
    /* border-radius: 4px; */
    background-color: #fafafa;
}
#index .calendar__header .arrow.disable {
    opacity: 0.3;
    pointer-events: none;
}
#index .calendar__header span {
    margin: 0 10px;
}
@media screen and (max-width: 767px){
    #index .calendar__header span {
        font-weight: bold;
        letter-spacing: .1rem;
    }
}
#index .calendar__header .prev img {
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#index .calendar__header .next img {
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}



/* #index .calendar__contents {} */
#index .calendar__contents .ul {
    border: 1px solid #ddd;
    border-right: none;
}

#index .week-cell__Wrapper {
    width: calc(100% / 7);
    border-right: 1px solid #ddd;
}
#index .week-cell__header {
    width: auto;
    height: 50px;
    line-height: 1.2;
    text-align: center;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
#index .week-cell__header .day {
    font-size: 1.3rem;
    margin-bottom: 3px;
}
#index .week-cell__header.sata .day,
#index .week-cell__header.sata .date {
    color: #0052ad;
}
#index .week-cell__header.sun .day,
#index .week-cell__header.sun .date {
    color: red;
}
@media screen and (max-width: 767px) {
    #index .week-cell__header .day {
        font-size: 1.1rem;
    }
    #index .week-cell__header .date {
        font-size: 1.4rem;
    }
}
#index .week-cell__contents .sec {
    min-height: 70px;
    margin: 10px auto 20px;
    text-align: center;
}
#index .btn_select {
    cursor: pointer;
}
#index .btn_select.hidden {
    visibility: hidden;
}
#index .btn_select.disable {
    cursor:default;
}
@media screen and (max-width: 767px) {
    #index .week-cell__contents .sec {
        width: 100%;
        height: auto;
    }
}
#index .week-cell__contents .time {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    margin-left: 5px;
}
@media screen and (max-width: 767px) {
    #index .week-cell__contents .time {
        text-align: center;
        font-size: 1.1rem;
    }
}
#index .week-cell__contents .time span {
    display: inline-block;
    text-align: left;
}
#index .week-cell__contents .icon__Wrapper {
    width: 80px;
    margin-bottom: 5px;
    padding: 5px 0 1px;
    background: rgb(231,231,231);
    background: linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(236,236,236,1) 22%, rgba(255,255,255,1) 100%);
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 0px rgb(200 200 200);
    -webkit-box-shadow: 1px 1px 2px 0px rgb(200 200 200);
    -moz-box-shadow: 1px 1px 2px 0px rgb(200 200 200);
}
@media screen and (max-width: 767px) {
    #index .week-cell__contents .icon__Wrapper {
        width: 80%;
        margin: 0 auto 5px;
    }
}
#index .week-cell__contents .icon__Wrapper.noflame {
    background: none;
    border: none;
    box-shadow: none;
}
#index .week-cell__contents .icon {
    width: 32px;
    height: 32px;
    margin: auto;
    text-align: center;
}
#index .week-cell__contents .icon.tel svg {
    width: 32px;
    height: 32px;
    margin: auto;
    color: rgb(99, 102, 241);
    /* color: #00adef; */
}
#index .week-cell__contents .icon.circle svg {
    width: 24px;
    height: 24px;
    margin: 2px auto 0;
}
#index .week-cell__contents .icon.triangle svg {
    width: 24px;
    height: 24px;
    margin: 2px auto 0;
}
#index .week-cell__contents .icon.cross svg {
    width: 24px;
    height: 24px;
    margin: 2px auto 0;
}
#index .week-cell__contents .icon.bar svg {
    width: 24px;
    height: 24px;
    margin: 2px auto 0;
}

#index .calendar__contents .icon-list {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0 10px;
}
#index .calendar__contents .icon-list li {
    margin-left: 5px;
    color: #555;
}

#index .calendar__notice {
    margin-bottom: 40px;
}
#index .calendar__notice .list-item {
    display: block;
}
#index .definition__list {
    margin-bottom: 56px;
}
#index .definition__list .day {
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
    line-height: 1.4;
    padding-top: 4px;
    padding-bottom: 4px;
}
#index .definition__list .day.sata span {
    color: #0052ad;
}
#index .definition__list .day.sun span {
    color: red;
}
#index .daily-booking__Wrapper {
    padding-top: 16px;
}
#index .daily-booking__list {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #c2c2c2;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 12px;
}
#index .daily-booking__list.hidden {
    display: none;
}
#index .daily-booking__button {
    height: 70px;
    width: 100%;
    font-size: 2.0rem;
    padding: 32px;
    box-sizing: border-box;
}
#index .daily-booking__button .icon{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 12px;
    margin-right: 8px;
}
#index .daily-booking__button .icon svg {
    width: 26px;
    height: 26px;
    margin: auto;
    color: rgb(99, 102, 241);
    /* color: #00adef; */
}




/*--------------------------------
request,reserve,confirm
--------------------------------*/
@media screen and (max-width: 767px) {
    .form_page  {
        font-size: 1.6rem;
    }
}
.form_page .template__Wrapper .container {
    padding: 40px 60px 40px 60px;
}
@media screen and (max-width: 767px) {
    .form_page .template__Wrapper .container {
        padding: 20px 15px;
    }
}

.form_page .menu__Wrapper {
    margin: 20px auto 20px;
    border-bottom: 2px solid #dadada;
}
.form_page .menu__Wrapper .h3 {
    font-weight: normal;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.form_page .menu__Wrapper .h3 span {
    color: rgb(99, 102, 241);
    /* color: #00adef; */
    margin-right: 30px;
}


.form_page #form {
    position: relative;
}
.form_page #form .counter__Wrapper {
    position: absolute;
    top: 0;
    left: -90px;
    width: 75px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: rgb(99, 102, 241);;
    text-align: center;
    color: #fff;
}


.formTable {
    text-align: left;
    width: 100%;
    margin: 40px auto;
}
tbody {
    display: block;
    width: 100%;
}
.formTable .tr {
    padding: 10px 0 10px;
    line-height: 1.5;
    position: relative;
}
@media screen and (max-width: 767px) {
    .formTable .tr {
        display: block;
    }
}
#reserve_confirm .tr,
#request_confirm .tr {
    padding: 15px 0 8px;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
}
.formTable .th {
    display: block;
    width: 30%;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    .formTable .th {
        width: 100%;
    }
}
.formTable .th .hissu {
    color: #fff;
    font-size: .9rem;
    background-color: #ec5700;
    margin-left: 5px;
    padding: 2px 4px;
    border-radius: 3px;
    vertical-align: middle;
}
.formTable .td {
    display: block;
    width: 22%;
}
@media screen and (max-width: 767px) {
    .formTable .td {
        width: 100%;
        display: block;
        margin: 5px 0;
    }
}


.formTable .td2 {
    margin-left: 5px;
    color: #808080;
}
@media screen and (max-width: 767px) {
    .formTable .td2 {
        font-size: 1.4rem;
    }
}
.formTable .td.long {
    width: 40%;
}
.formTable .td.radio {
    width: 30%;
}
.formTable .td.w100{
    width: 70%;
}
@media screen and (max-width: 767px) {
    .formTable .td.long {
        width: 100%;
    }
    .formTable .td.radio {
        width: 70%;
    }
}

.formTable input[type=text], 
.formTable input[type=number], 
.formTable input[type="email"], 
.formTable input[type="tel"], 
.formTable textarea {
    padding: 8px;
    width: 100%;
    margin-right: 5%;
    font: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formTable select {
    padding: 8px 20px 8px 10px;
    width: 100%;
    margin-right: 5%;
    font: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.formTable .td.select {
    position: relative;
}
.formTable .td.select .select-icon {
    padding: 0 3px;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 0%;
    top: 0%;
    line-height: 40px;
    pointer-events: none;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.formTable .td.checkbox  {
    width: 70%;
}
@media screen and (max-width: 767px) {
    .formTable .td.checkbox  {
        width: 100%;
    }
}
.formTable .td.checkbox  label{
    width: 40%;
    margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
    .formTable .td.checkbox label {
        width: 45%;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
    }
}
.formTable .td.checkbox  input{
    margin-right: 5px;
}


#request .menu__Wrapper .menu__contents,
#reserve .menu__Wrapper .menu__contents,
#reserve_confirm .menu__Wrapper .menu__contents {
    width: 70%;
}
#request .menu__contents dl,
#reserve .menu__contents dl,
#reserve_confirm .menu__contents dl {
    width: 100%;
    margin-bottom: 10px;
}
#request .menu__contents dt,
#reserve .menu__contents dt,
#reserve_confirm .menu__contents dt {
    font-weight: bold;
    width: 27%;
}
#request .menu__contents dd,
#reserve .menu__contents dd,
#reserve_confirm .menu__contents dd {
    width: 100%;
}
@media screen and (max-width: 767px) {
    #request .menu__Wrapper,
    #reserve .menu__Wrapper,
    #reserve_confirm .menu__Wrapper {
        display: block;
    }
    #request .menu__Wrapper .menu__contents,
    #reserve .menu__Wrapper .menu__contents,
    #reserve_confirm .menu__Wrapper .menu__contents {
        width: 100%;
    }
    #request .menu__contents dl,
    #reserve .menu__contents dl,
    #reserve_confirm .menu__contents dl {
        display: block;
    }
    #request .menu__contents dt,
    #reserve .menu__contents dt,
    #reserve_confirm .menu__contents dt {
        width: 100%;
    }
}



.form_page .bottom_note {
    font-size: 1.1rem;
    color: #808080;
    margin-bottom: 60px;
}
.form_page .bottom_note a {
    color: #0052ad;
    text-decoration: underline;
}

.form_page .submit__Wrapper {
    text-align: center;
    width: 100%;
}
.form_page .submit__Wrapper li{
    width: 33%;
    margin: 1%;
}
@media screen and (max-width: 767px) {
    .form_page .submit__Wrapper li{
        width: 47%;
        margin: 1%;
    }
}
.form_page .submit__Wrapper #goBack_button {
    width: 70%;
    background-color: #ccc;
    text-align: center;
    padding: 13px;
    border-radius: 6px;
    box-shadow: 2px 2px 0px 0px #989898;

}
.form_page .submit__Wrapper #submit_button {
    color: #fff;
    width: 100%;
    background-color: rgb(99, 102, 241);;
    text-align: center;
    padding: 13px;
    /* border-radius: 6px; */
    box-shadow: 2px 2px 0px 0px #989898;
    transition: all 0.3s;
}
.form_page .submit__Wrapper #submit_button:disabled {
    background-color: #c2c2c2;
}



#request .anquate {
    font-weight: bold;
    margin-bottom: 30px;
}

#request .anquate span {
    color: #0052ad;
    font-weight: bold;
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
    border-bottom: 2px solid #0052ad;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    #request .anquate span {
        margin-left: 0px;
        margin-top: 5px;
    }
}

#request .anquate span::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 0 5.5px 11px;
    border-color: transparent transparent transparent #459fff;
}

#request .anquate-table {
    display: none;
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #dadada;
}
#request .anquate-table .formTable {
    margin: 0px auto 40px;
    /* background-color: #e0f2f9; */
}
#request .anquate-table tr {
    padding: 15px 0 15px;
    border-bottom: 1px solid #ccc;
}
#request .anquate-table .th.consider {
    margin-top: -20px;
}
#request .anquate-table .td.consider {
    margin-top: 20px;
}
#request .anquate-table .consider-num {
    position: absolute;
    top: -20px;
    left: 0;
}
#request .anquate-table td.Birth{
    width: 13%;
    margin-right: 30px;
}
@media screen and (max-width: 767px) {
    #request .anquate-table td.Birth {
        width: 50%;
        margin-right: 0px;
    }
}
#request .anquate-table td.Birth select{
    margin-right: 0;
}
#request .anquate-table td.Birth .unit{
    position: absolute;
    right: -20px;
}

#request .anquate-table td.Newspaper {
    margin-right: 20px;
}









/*--------------------------------
thanks
--------------------------------*/

#thanks h2 {
    margin-top: 100px;
    text-align: center;
}
#thanks h3 {
    margin-top: 50px;
    text-align: center;
}
#thanks .message__Wrapper {
    margin-bottom: 200px;
}
#thanks .message__Wrapper p {
    text-align: center;
    margin-top: 50px;
}
#thanks .message__Wrapper a {
    text-decoration: underline;
}






/*--------------------------------
detail
--------------------------------*/
#detail  .template__Wrapper {
    display: none;
}
#detail  .template__Wrapper.active {
    display: block;
}

#detail .formTable {
    display: none;
}
#detail .formTable.active {
    display: block;
}

#detail .menu__Wrapper.middle {
    padding: 10px 0 20px;
}
#detail .menu__Wrapper.middle .p1{
    text-align: left;
}

#detail .menu__Wrapper.lower {
    padding: 10px 0 20px;
    border-bottom: none;
}
#detail .menu__Wrapper.lower .p1{
    text-align: left;
}
#detail .menu__Wrapper.lower .list-item{
    display: block;
}
#detail .menu__Wrapper.lower ul {
    padding-left: 1em;
}
#detail .menu__Wrapper.lower li {
    list-style-type: initial;
}

#detail .reserve-contents__Wrapper {
    margin-top: 30px;
}
#detail .reserve-contents__Wrapper td.select{
    width: 100%;
}
#detail .reserve-contents__Wrapper .result-time{
    font-size: 1.8rem;
}
#detail .reserve-contents__Wrapper .result-time span{
    display: inline-block;
}

@media screen and (max-width: 767px) {
    #detail .reserve-contents__Wrapper .select-area {
        width: 20%;
        display: inline-block;
        margin-bottom: 16px;
    }
    #detail .formTable select {
        height: 40px;
        margin: 0;
    }
}

#detail .formTable {
    margin: 20px auto;
}
#detail .formTable .td.w100{
    width: 100%;
}
#detail .formTable .td.gray{
    color: #8e8e8e;
}

#detail .reserve-caution__title {
    font-weight: bold;
}
#detail .reserve-caution__table {
    margin: 10px auto 40px;
    border-bottom: 1px solid #aaa;
    border-collapse: collapse;
    table-layout: auto;
    table-layout: fixed;
}
#detail .reserve-caution__table .tr {
    padding: 0;
    border: 1px solid #aaa;
    border-left: none;
    border-bottom: none;
}
#detail .reserve-caution__table .tr:nth-child(even){
    background-color: rgb(240, 244, 255);
}
#detail .reserve-caution__table th {
    width: 30%;
    display: block;
    padding: 10px;
    border-left: 1px solid #aaa;
}
#detail .reserve-caution__table td {
    width: 70%;
    display: block;
    padding: 10px;
    border-left: 1px solid #aaa;
}
@media screen and (max-width: 767px) {
    #detail .reserve-caution__table .tr {
        border-left: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }
    #detail .reserve-caution__table th,
    #detail .reserve-caution__table td {
        width:100%;
        border-left: none;
    }
}


#detail .submit__Wrapper .btn {
    width: 35%;
    padding: 7px 0 7px;
    margin: 2%;
    text-align: center;
    border: 1px solid #c2c2c2;
}
#detail .submit__Wrapper .btn {
    width: 33%;
    margin: 2%;
    text-align: center;
    border: 1px solid #c2c2c2;
}

#detail .submit__Wrapper button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 5px 0 5px;
}
#detail .submit__Wrapper .btn_back {
    background-color: rgb(250, 250, 250);
}
#detail .submit__Wrapper .btn_reserve {
    background-color: rgb(99, 102, 241);;
}
#detail .submit__Wrapper .btn_reserve button{
    color: #fff;
}

/* Added gloabl css */

#request .formTable span.hissu {
  color: #fff;
  font-size: .95rem;
  background-color: #ec5700;
  margin-left: 5px;
  padding: 2px 4px 0;
  /* border-radius: 3px; */
  vertical-align: middle;
}
#request .formTable label.comp-header {
  font-weight: bold;
  margin-bottom: 8px;
  height: 19px;
  padding-left: 2px;
}
/* #request .formTable .flex-column.relative {
  width: 100%;
} */
.p-dropdown{

  padding: 8px 0px 8px 8px;
  width: 100%;
  margin-right: 5%;
  font: inherit;
  /* border: 1px solid #ccc;
  box-sizing: border-box; */
  border-color: #ccc;
  border-radius: 0px;
}
.p-inputtext{
  border-radius: 0;
  font-size: 1.4rem;
  padding: 0;
  color: #000;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
font-size: 1.4rem;
}
